.header{
    text-align: center;
}
.logo {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.header nav {
    background-color: rgb(3, 3, 3);
    height: 50px;
   line-height: 30px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: 700;
    padding: 3px 10px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: rgb(161, 230, 0);
    color: rgb(255, 0, 0);
   
}


.search-container {
 overflow: hidden;
  }
  input[type="text"] {
    width: 70%;
    display: block;
    margin: auto;
    padding: 7px 5px;
    margin-top: 20px;
    font-family: auto;
    font-size: 16px;
    outline: none;
    border: 2px solid #ddd;
  }
  .search-container {
    background-color: rgb(48, 48, 48);
    height: 80px;
  }